<%- include('partials/header', { nome }) %>
<section>
  <h1>Hello World!</h1>
  <p>Meu nome é Rebeca Lima e este é o meu portfólio, criado e estilizado com todo o carinho para a aula de Desenvolvimento Web. Tenho 19 anos, atualmente desempregada (a vida é dura) e estudante de Desenvolvimento de Software Multiplataforma na Fatec de São José dos Campos. Tenho um sério hiperfoco em esmaltes, o que me faz pintar as unhas com um diferente a cada semana (as vezes não espero nem uma semana antes de trocar). Aqui você encontrará informações sobre meus projetos e habilidades. Fique à vontade para explorar e me contatar!</p>
</section>
<%- include('partials/footer', { nome }) %>